<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dian.dquran">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CobaQuran">
        <activity android:name="com.dian.dquran.viewpager" />
        <activity android:name="com.dian.dquran.splashscreen_activty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dian.dquran.fragment_ayat" />
        <activity android:name="com.dian.dquran.ayat_activity" />
        <activity android:name="com.dian.dquran.fragment_item" />
        <activity android:name="com.dian.dquran.MainActivity" />
    </application>

</manifest>